.btn-group button {
  background-color: #164187; /* Green background */
  border: 1px solid; /* Green border */
  border-radius: 27px;
  color: white; /* White text */
  margin: 10px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #7aabfa;
}


.button-primary:focus,
.button-primary:active,
.button-primary.active {
    /*border-radius: 25px;*/
    background-color: #7aabfa;
    outline: none !important;
}